@font-face {
  font-family: 'BodoniMT';
  src: url('BodoniMT.eot');
  src: url('BodoniMT.eot?#iefix') format('embedded-opentype'),
       url('BodoniMT.svg#BodoniMT') format('svg'),
       url('BodoniMT.ttf') format('truetype'),
       url('BodoniMT.woff') format('woff'),
       url('BodoniMT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

