body{line-height:1}
ol,ul{list-style:none}
*{margin:0;padding:0}
body{position:relative;}
body{height:100%;background:#fff;overflow-x:hidden; font-family: 'MicrosoftNewTaiLue';}
html{height:100%}
*,a:focus,.btn:focus,.btn:active:focus,.btn.active:focus,img:focus, a:hover{outline:none;text-decoration:none}
a{text-decoration:none;color:#404040}
label{font-weight:normal}
form label.error{text-transform:none}
.clear{clear:both !important}
::-moz-placeholder{opacity:1}
input[type=text]::-ms-clear,input[type=text]::-ms-reveal{display:none;width:0;height:0}
.form-input::placeholder{color:#fdfdfd;opacity:1}
.form-input::-moz-placeholder{color:#fdfdfd;opacity:1}
.form-input::-webkit-placeholder{color:#fdfdfd;opacity:1}
.form-input::-o-placeholder{color:#fdfdfd;opacity:1}
::selection{background:#ef6c31;color:#fff}
::-moz-selection{background:#ef6c31;color:#fff}
::-webkit-selection{background:#ef6c31;color:#fff}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-star:before {
  content: "\f005";
}

@font-face {
  font-family: 'LeelawadeeUI';
  src: url('../fonts/LeelawadeeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/LeelawadeeUI.woff') format('woff'), url('../fonts/LeelawadeeUI.ttf')  format('truetype'), url('../fonts/LeelawadeeUI.svg#LeelawadeeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BodoniMT';
  src: url('../fonts/BodoniMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/BodoniMT.woff') format('woff'), url('../fonts/BodoniMT.ttf')  format('truetype'), url('../fonts/BodoniMT.svg#BodoniMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond.eot?#iefix') format('embedded-opentype'),  url('../fonts/Garamond.woff') format('woff'), url('../fonts/Garamond.ttf')  format('truetype'), url('../fonts/Garamond.svg#Garamond') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MicrosoftNewTaiLue';
  src: url('../fonts/MicrosoftNewTaiLue.eot?#iefix') format('embedded-opentype'),  url('../fonts/MicrosoftNewTaiLue.woff') format('woff'), url('../fonts/MicrosoftNewTaiLue.ttf')  format('truetype'), url('../fonts/MicrosoftNewTaiLue.svg#MicrosoftNewTaiLue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MicrosoftSansSerif';
  src: url('../fonts/MicrosoftSansSerif.eot?#iefix') format('embedded-opentype'),  url('../fonts/MicrosoftSansSerif.woff') format('woff'), url('../fonts/MicrosoftSansSerif.ttf')  format('truetype'), url('../fonts/MicrosoftSansSerif.svg#MicrosoftSansSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WensleyDemo';
  src: url('../fonts/WensleyDemo.eot?#iefix') format('embedded-opentype'),  url('../fonts/WensleyDemo.woff') format('woff'), url('../fonts/WensleyDemo.ttf')  format('truetype'), url('../fonts/WensleyDemo.svg#WensleyDemo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.outer-container{min-height:100%; margin:0px auto -100px; overflow-x:hidden;}
.push{height:100px;}
.inner-container{max-width:1210px; width:100%; padding:0 15px; margin:0px auto; position:relative;}

/* Common code */
.logo, .logo a, .social-links li, .copyright, .footer-links li, input[type="checkbox"]{display:inline-block; vertical-align:top;}
.header, .btn-lightBlue, .trans-control, .american-import{display:inline-block; vertical-align:top; width:100%;}
.inner-container:after{content:''; display:table; clear:both;}


/* fonts classes */
.header .navbar-nav>li, .heading-black, .footer-links li a{font-family: 'LeelawadeeUI';}
.range-row, .range-row .theme-green .scale ins, .bold-label, .copyright{font-family: 'MicrosoftNewTaiLue';}
.image-bgBox p, .heading-lg, .heading-md, .testimonial-section .heading-black, .heading-bgColor {font-family: 'BodoniMT';}
.product-detail-title, .product-detail-subtitle, .product-amount, .price-row, .testimonial-section p {font-family: 'Garamond';}
.heading-xs, .info-list li, .blue-btn, .blue-btn-caps, .round-middle label, .btn-black, .form-control {font-family: 'MicrosoftSansSerif';}
.banner-caps-title {font-family: 'TrajanPro-Regular';}

/* header css */
.banner-section{position: relative;}
.banner-img{width:100%; height: auto;}
.header{padding:0px; position:absolute; left:0px; top:0px; width: 100%; text-align: center; z-index:5;}
.menu-section{ margin:0; min-height:auto; background:#fff; padding:0px;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0;}
.navbar-nav{float:none; display: inline-block; vertical-align: top;}
.navbar-collapse{padding:0px;}
.header .navbar-nav>li{margin:10px 0; position: relative;}
.header .navbar-nav>li a::after {content: "";width: 2px;height: 15px;background: #002955;position: absolute;top: -1px; right: 0;}
.header .navbar-nav>li:last-child a::after{display:none;}
.header .navbar-nav>li>a{padding:0px 30px; margin:0px; font-size:13px; text-transform:uppercase; color:#002a55; line-height:1; position: relative;font-weight: 600;letter-spacing: 1px;}
.header .navbar-nav>li>a:hover, .header .navbar-nav>li>a:focus, .header .navbar-nav>li.active>a, .dropdown-menu>li>a:hover, .navbar-nav .dropdown-menu>.active>a, .navbar-nav .dropdown-menu>.active>a:focus, .navbar-nav .dropdown-menu>.active>a:hover{background:transparent; color:#19bfd5;}
.navbar-toggle{margin:0px;}
.navbar-toggle .icon-bar{background:#000;}
.social-top{position: absolute; right: 0; bottom: 10px;}
.social-links.social-top .fa{font-size:21px;}
/* header end */
.row-custom{margin-left:-8px; margin-right: -8px;}
.row-custom:after{display: table; clear: both; content: '';}
.col-left{float: left; width: 28%; padding:0px 8px;}
.col-right{float: left; width: 72%;padding:0px 8px;}
.search-aside{padding:3px; background:#fff; margin-top:-170px;}
.border-box{border:1px solid #ebebeb; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
.heading-bgColor{margin:0px; padding:15px; font-size:20px; text-transform: uppercase; color:#fff;background: #033162; text-align: center;}
.border-boxInner{padding:17px 15px 15px;}
.input-area{padding:5px;}
.input-area  .form-control{height: 40px;}
.range-row{padding:15px 0; color:black; font-size:20px;}
.range-row .slider-container .scale span{height: 7px; border-color: #d0d0d0;}
.range-row .theme-green .scale ins{color:#000;font-size:10px;top: 10px; font-weight: bold; letter-spacing: 1px;}
.range-row .theme-green .back-bar .pointer{border-color:#18c0d6; background:#fff;}
.range-row .theme-green .back-bar .selected-bar{background:#18c0d6;}
.range-row .theme-green{width:100%!important;}
.range-row .theme-green .scale span:nth-child(3){left: 96%!important;}
.bold-label{font-weight: 800; color:#18c0d6; margin:0px; padding:23px 0 4px; font-size:15px;letter-spacing: 1px; text-shadow: 0px 0px;}
.check-row{font-size: 13px;color: #828282; text-transform: uppercase; padding-top:5px;padding-bottom:5px;}
.check-row label{margin:0px;}
input[type="checkbox"]{margin: -1px 3px 0px 0;}
.loading{position: fixed;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.7);width: 100%;
  height: 100%;z-index: 5;}

.loader {border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;
  width: 120px;height: 120px;animation: spin 2s linear infinite;margin:0 auto;}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-link{font-size: 14px;color: #18c0d6; font-weight: bold;}
.btn-outer{padding-top:20px;}
.btn-lightBlue{border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px;}
.btn-lightBlue{width:100%; text-align: center; text-transform: uppercase; font-weight: bold;letter-spacing: 1px;font-size: 17px;color: #ffffff;background:#18c0d6; padding: 12px 10px 10px;}
.btn-lightBlue:hover{color: #ffffff;background:#002955;}
.btn-blue{background:#002955;}
.space-box{padding:15px 0;}
.space-box img{display: inline-block; vertical-align: top;}
.top-btmPad{padding-top:20px; padding-bottom: 20px;}
.image-bgBox{background: url(../images/newsletter.jpg) no-repeat; padding:10px; background-size: cover; text-align: center; min-height: 530px;}
.image-bgBox p{font-size: 18px; color:#fff; text-align: center; text-transform: uppercase; font-style: italic; line-height: 1.1; margin:6px 0px;}
.image-bgBox .fa{color:#fff;font-size: 20px;}
.input-bgBox{padding-top:40px;}
.trans-control{border:2px solid #fff; background: rgba(0, 0, 0, 0.5); height:36px; padding:6px 10px;line-height: 1.42857143; font-size: 16px; color:#fff; text-transform: uppercase;}
.trans-control::placeholder{color:#fff;opacity:0.8;}
.trans-control::-moz-placeholder{color:#fff;opacity:0.8;}
.trans-control::-webkit-placeholder{color:#fff;opacity:0.8;}
.trans-control::-o-placeholder{color:#fff;opacity:0.8;}
.heading-lg{font-size:27px; text-align: center;color:#33526d; line-height: 1.3; text-transform: uppercase;letter-spacing: 1px; margin:0px;}
.heading-lg span{color: #18c0d6; display: block;font-size:22px;}
.list-outer{display: flex;flex-wrap: wrap;  justify-content: space-between; margin:0px -5px;}
.list-outer > div{padding:10px 5px; flex-basis: 33.33%;}
.list-outer.list-col4 > div{flex: 25%;}
.product-box{border-bottom:4px solid #002955;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.3);}
 .list-image img{width:100%; height:150px;}



.noBorder{border-color:transparent; background: #fff; box-shadow: none;}
.testimonial-icon{width:53px; height:36px; background:url(../images/testimonial-icon.png) no-repeat; position: absolute; left: -55px; top: -4px;}
.round-ibox{border:1px solid #ccc; border-radius: 50px; width:100%; height:70px; display: flex;align-items: center; margin: 15px 0; box-shadow: -1px 3px 5px #ccc; -webkit-box-shadow: -1px 3px 5px #ccc; -moz-box-shadow: -1px 3px 5px #ccc; -o-box-shadow: -1px 3px 5px #ccc; -ms-box-shadow: -1px 3px 5px #ccc;}
.count-col{width:66px; height:66px; line-height: 68px; border-radius: 50%; text-align:center; background: #4e6aa9; color:#fff; font-size:18px;  display: inline-block; vertical-align: middle;border: 2px solid white;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7); -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7); -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7); letter-spacing: 2px; font-weight: bold;}
.round-middle{padding:0 5%;}
.round-middle .form-control{border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -o-border-radius:0px;}
.round-right{padding:0 15px;}
.colm-left{width:120px;}
.round-middle{width:430px; height:70px; padding-top:18px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.round-middle label{float:left; margin:12px 0 0;color: #414141; text-transform: uppercase; font-size:13px;}
.round-right{width:270px;}
.select-col{padding-left:120px;}
.select-col:after{content: '>'; background: #aaaaaa; width:30px; height:30px; display: inline-block; vertical-align: top;pointer-events: none; position: absolute; right: 2px; top: 2px; text-align: center; line-height: 30px;transform: rotate(90deg); font-weight: bold; color:#fff;}
.select-col{position: relative;}
.select-col select{position: relative;-webkit-appearance: none; -moz-appearance: none; padding-right:30px; padding-left:6px;}
.blue-btn {color: #fff; background: #275b87; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border: none; padding: 8px 15px; text-align: center;}
.product-detail-box {text-align: center; padding: 5px 10px; text-shadow: 0px 0px;}
.product-detail-title {font-size: 17px;color: #18c0d6;margin:8px 0px 10px;}
.product-detail-subtitle {font-size: 16px;color: #000;}
.product-amount {font-size: 22px; letter-spacing: 1px; color: #275b87; padding: 22px 0;}
.product-pagination li a {padding: 8px 20px; border: none; cursor: pointer; text-shadow: 0px 0px;}
.pagination li.active a, .pagination li a:hover, .pagination li.active a:focus, .pagination li.active a:hover {background: #18c0d6; color: #fff;}


/************ full bg section css here ****************/
.full-bg-section {background: #fafafa; padding: 20px;}
.heading-black{font-size: 19px; color: #393955; font-weight: bold; margin-top: 0;}
.blue-btn-caps, .btn-black {padding: 7px 12px; text-transform: uppercase;text-shadow: 0px 0px; background: #033162;font-size: 13px; border: none;color:#fff; border-radius: 0;}
.btn-black{background: rgba(0, 0, 0, 0.5); border:2px solid #fff; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.blue-btn-caps:hover, .blue-btn:hover{background: #19bfd5; color:#fff;}
.btn-black:hover{background:#000; color:#fff;}
.heading-xs{font-size: 14px;color: #33526e; font-weight: bold; margin: 0 0 5px;}
.price-row{font-size: 15px;letter-spacing: 1px;color: #000000; font-weight: bold; font-style: italic;}
.detail-box{text-align:center; padding:10px; width:100%;}
.info-list{margin:10px 0 12px; padding:0;}
.info-list li{font-size: 11px;letter-spacing: 1px;color: #33526e; display: inline-block; font-weight: bold;}
.info-list li:before{content:''; width:5px; height:5px; background:#33526e; display: inline-block; vertical-align: middle; border-radius:50%; margin-right:5px;}
.white-logo {display: inline-block;}
.bottom-bg-banner {background: url(../images/american-boat.jpg) no-repeat center center; background-size: cover; width: 100%; display: inline-block; padding: 30px 0;}
.white-logo:after {content: ""; background: #fff;height: 2px; display: inline-block; width: 85%;}
.banner-caps-title {font-size: 22px;letter-spacing: 0.7px;color: #fff;text-transform: uppercase; padding:25px 0px;}
.testimonial-section .heading-black {font-size: 25px;letter-spacing: -1px; color: #424242; font-weight: normal; text-transform: uppercase;text-shadow: 0px 0px;}
.testimonial-section {padding: 40px 0; background: #fafafa;}
.testimonial-section .border-box {border-top: none; border-bottom: none; box-shadow: none;}
.blue-btn-caps.light-bluebg-btn {background: #18c0d6;}
.testimonial-section p {font-size: 17px;line-height: 23px;color: #6f6f6f;text-shadow: 0px 0px;}
.evenements-img{text-align: center;}
.evenements-img img{display: inline-block; vertical-align: top;}





/*=============== Footer css here ===============*/
.footer-top {background: #002955; text-align:center; padding:10px 0;}
.footer-logo{float:left;}
.social-links{margin:0px; padding:15px 0 0; float:right; }
.social-links li{padding:0 10px;}
.social-links li a{font-size:18px; color:#fff;}
.social-links li a:hover{color:#19bfd5;}
.copyright{padding:37px 0 0; margin:0px; color:#fff; font-size:11px;}
.footer-links {margin:0px; padding:0; text-align: center;}
.footer-links li {padding:6px 2.5%; position: relative;}
.footer-links li a {color: #002955;font-size: 14px; text-transform: uppercase; text-shadow: 0px 0px;}
.footer-links li a:hover{color: #002955;}
.footer-links li::after, .footer-links li:first-child:before {content: "";width: 1px;height: 12px;background: #002955;position: absolute;top: 7px; right: 0;}
.footer-links li:first-child:before{left:0px; right: inherit;}
.testimonial-section .form-control{font-size:11px;}



/*inner pages css start*/
.box-shadow {border: 1px solid #ebebeb;box-shadow: 1px 8px 7px #dbdbdb;}
.check-part{position: relative;margin-left: 48px;}
.check-part::after {content: "";width: 2px;height: 10px;background: #828282;position: absolute;top: 16px;right: 145px;}
.range-slide1::after {content: "";width: 2px;height: 10px;background: #828282;position: absolute;top: 16px;right: -44px;}
.range-slide2::after {content: "";width: 2px;height: 10px;background: #828282;position: absolute;top: 16px;right: -42px;}
.products .range-slide1::after {display: none;}
.products .range-slide2::after {display: none;}
.achat-part-content .testimonial-icon {left: -80px;}
.achat-part-content h3 {text-align: left;padding-bottom: 20px;}
.heading-md{color: #676b74;}
.products .heading-md {text-align: left;margin-top: 50px;}
.range-slide1{float: left;width:40%;position: relative;}
.range-slide2{float: right;width:40%;position: relative;}
.check-part .check-row {display: inline-block;width: 48%;}
.Catalogue {padding: 24px;font-size: 18px;}
.inner-pages .bold-label {padding:0px;}
.border-boxInner1{padding: 0px;}
.btn-outer1 a{border-radius:0px;font-size: 14px;margin-top: 2px;border: 2px solid #0c909c;}
.btn-outer1{padding:0px;}
.padding-left{padding-left:0px;padding-right: 30px;}
.padding-top{padding-top:15px;}
.inner-pages .search-aside {margin-top: -47px;padding:0px;}
.inner-pages .heading-lg {font-size: 56px;text-align: left;color:#676b74;margin-top: 20px;}
.achat-head {width: 88%;}
.hr {border: 1px solid #18c0d6;width: 80px;margin: 15px 0;}
.achat-head p {font-size: 20px;line-height: 28px;}
.achat-part img {width: 100%;}
.achat-part {padding-top: 30px;}
.achat-part-content {width: 58%;}
.achat-part-content p {font-size: 14px;line-height: 22px;padding-left: 15px;padding-bottom: 15px;text-align: justify;color: #4f4f4f;}
.achat-part-content2{float:right;}
.achat-part-content2 p {padding-left: 0px !important;padding-bottom: 0px;margin-bottom: 0px;padding-right: 15px;}
.achat-part-content2 {width: 64%;position: relative;}
.range {float: left;width: 65%;}
.check-slide {float: right;width: 30%;margin-top: 5px;}
.check-slide .check-row {display: inline-block;padding: 5px 10px;}
.range-head {color: #676b74;font-size: 18px;margin-top:20px;font-family: 'BodoniMT';}
.inner-pages .products .heading-lg {font-size: 28px;margin-top: 62px;}
.products .list-outer > div {padding: 10px 15px;flex: 25%;}
.products .list-outer .blue-btn {background: #18c0d6;}
.products .list-outer .product-box {border-bottom: 4px solid #18c0d6;padding-bottom: 15px;}
.products .list-outer {margin: 50px -5px 0px -5px;}
.shadow-box{border: 1px solid #ebebeb;box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);}

/*logistique page css start*/
.achat-sec1 .achat-head{width:100% !important;}
.achat-sec1 .achat-part-content {width: 100%;}
.serial-no {width: 50px;text-align: center;background-color: #97b7c2;margin-top: 10px;padding-top: 15px;height: 75%;position: absolute;vertical-align: top;
left: 0;top: 7px;}
.serial-no span {display: inline-block;color: #fff;font-size: 40px;font-weight: 700;margin: 0px;}
.serial-lines {display: inline-block;margin-bottom: 20px;position: relative;}
.serial-no2 {background-color: #5d8e9e;}
.serial-no3 {background-color: #2f7284;}
.serial-no4 {background-color: #1d6777;}
.serial-no5 {background-color:#0d5466;}
.serial-no-content {padding-left: 70px;}
.achat-sec1 .achat-part-content p{word-spacing: 0px;padding: 0px;}
.banner-bottom {margin-top: 40px;}
.banner-bottom img{width: 100%;}
.heading-md-copy {font-size: 56px;}
.banner-content p {font-size: 18px;line-height: 24px;color: #4f4f4f;word-spacing: 8px;padding-top: 10px;}
.hr1 {border-color: #d5d5d6;width: 80%;margin: 28px 0px;}
.questions-content p{padding-right: 80px;font-size: 14px;line-height: 24px;color: #4f4f4f;word-spacing: 0px;padding-top: 0px;border-right: 1px solid #d5d5d6;}
.questions-content1 p{border:none;padding-right: 0px;padding-top: 18px;}  
.questions-content1{padding-left: 80px;}
.questions-content .hr {width: 6%;}
.questions-content.questions-content1 .btn {background: #18c0d6;font-size: 12px;margin-top: 20px;}
.plus-btn{text-align: center;}
.logistique-content {margin-bottom: 40px;}
.les-head{margin-left: 80px;}
.serial-no-content h4 {font-size: 14px;line-height: 24px;}
.achat-sec1 .achat-part {padding-left: 0px;padding-right: 0px;}
/*logistique page css end*/


.padding-0{padding:0px !important;}
.banner-content-copy{border-bottom:1px solid #d5d5d6;padding-bottom: 20px;}
.achat-part-content-copy{float:right;width: 68%;}
.achat-part-content-copy p {word-spacing:0px;font-size: 14px;line-height: 22px;text-align: justify;color: #4f4f4f;}
.pourqout img{width:100%;}
.pourqout {margin: 40px 0;}
.importer-content1{margin-right:70px;margin-bottom:30px;}
.importer-content .btn{background: #18c0d6;font-size: 12px;margin-top: 20px;}
.importer-content {padding-top: 30px;border-top: 1px solid #d5d5d6;}



.testimonial-contents .testimonial-icon {left: 0px;margin: 20px 0;position: relative;}
.testimonial-contents{position: relative;margin: 20px 0;}
.test-text h3 {font-size: 17px;color: #7d8288;margin: 20px 0;}
.test-text p {font-size: 14px;color: #7d8288;text-align: justify;line-height: 22px;margin-bottom: 20px;}
.test-text .hr {margin: 40px auto;}
.test-text a {color: #666;font-size: 15px;text-align: center;width: 100%;display: inline-block;margin: 20px 0;text-decoration: underline;}
.textarea label {display: block;font-size: 18px;color:#79717e;margin-bottom: 15px;}
.username label {font-size: 16px;color: #79717e;margin-right: 6px;}
.username {margin-top: 20px;position: relative;}
.username .user-input {margin-right: 6px;border: 1px solid #79717e;padding: 10px;border-radius: 6px;width: 306px;}
.envoyer-btn {background: #033162;color: #fff;border: 1px solid #033162;padding: 14px;font-size: 16px;height: 40px;display: inline-block;width: auto;
text-align: center;vertical-align: top;}
.envoyer-btn:hover{color: #fff;}
.share label {font-size: 16px;color: #79717e;margin-right: 6px;}
.share input{color: #79717e;border-color:#79717e;margin: 0 6px;}
.share {margin-top: 20px;}
.textarea textarea {padding: 10px;width: 100%;}
.share i {background: #8c8c8c;width: 18px;text-align: center;height: 16px;color: #fff;padding-top: 1px;}


.contact-heading h1 {text-align: center !important;font-size: 43px !important;color:#000 !important;}
.contact-heading .hr {margin: 15px auto;text-align: center;}
.conatct-background-tel {position:relative;margin: 40px 0;background-image: url("../images/contact-background-tel.jpg");background-repeat: no-repeat;
  background-size: 100% 100%;height: 610px;}
.black-box-btn{background: #0c909c;padding: 10px 14px;font-size: 18px;color:#fff !important;margin-top: 15px;display: inline-block;}
.black-box h2 {color: #fff;font-size: 30px;margin: 0px;}
.black-box p {color: #fff;font-size: 14px;}
.black-box {background: #000;width: 50%;text-align: center;opacity: 0.7;padding: 80px 0;}
.black-box .hr {text-align: center;display: inline-block;vertical-align: top;}
.black-box.black-box2 {position: absolute;right: 0;height:307px;}
.black-box.black-box1{height:303px;}
.contact-form-background img{width: 100%;height: 630px;}
.contact-form-background{position: relative;}
.contact-form input {display: block;}
.form-container {margin: auto;width: 367px;max-width: 100%;padding: 0 15px;}
.contact-form {position: absolute;top: 0;right: 0;left: 0;margin: auto;width: 100%;}
.contact-form input {width: 100%;padding: 12px;margin-bottom: 24px;color: #6a6a6a;border: none;}
.contact-form textarea {width: 100%;padding: 12px;margin-bottom: 24px;color: #6a6a6a;border: none;}
.contact-form h2 {color: #fff;text-align: center;font-size: 66px;margin: 50px 0;}
.form-submit-btn {text-align: center;margin-top: 10px;}
.form-submit-btn a {padding: 9px 35px;}
.infos-content h3, h4, p {margin: 20px 0;line-height: 20px;}

/*inner pages css end*/



/* media css started */

@media screen and (max-width: 1300px){
  .testimonial-icon{left:0;}
}
@media screen and (max-width: 1200px){
  .search-aside{margin-top: -130px;}
  .col-left{width:34%;}
  .col-right{width:66%;}
  .round-middle{padding:18px 2% 0;}
  .select-col{ padding-left: 95px;}

  /*inner page css*/
  .inner-pages .heading-lg {font-size: 48px;}
  .check-slide .check-row {display: inline-block;padding: 5px 4px;}
  .Catalogue {font-size: 14px;}
  .btn-outer1 a {font-size: 10px;}

  .username .user-input {width:219px;}

    /*inner page css end*/
}

@media screen and (max-width: 991px){
.header .navbar-nav>li>a{padding: 0px 17px;}
.search-aside{margin-top: -90px;}
/*inner page css*/
 .achat-part-content {width: 100%;}
 .achat-part-content2 {width: 100%;}
 .achat-head {width: 100%;}
 .achat-part-content p {padding: 0px;}
.products .heading-lg {margin-top: 0px;}
.products .list-outer {margin: 30px -5px 0px -5px;}
.achat-part {padding: 0 15px;}
.products .list-outer > div {padding: 10px 5px;}
.achat-part-content {padding: 15px 0;}
.achat-part {padding-top: 0px;}
.range-slide1 {margin: 0 15px;}
.range-slide2 {margin: 0 15px;}
.padding-left {padding-left: 15px;padding-right: 15px;}
.check-part .check-row {width: 24%;padding-top: 25px;padding-bottom: 25px;padding-left: 15px;padding-right: 15px;}
.check-slide .check-row {width: 49%;padding-top: 7px;padding-bottom: 0px;padding-left: 15px;padding-right: 15px;}
.inner-pages .search-aside {margin-top: 0px;}
.range-slide1 {margin: 0px;}
.range-slide2 {margin: 0px;}
.products .heading-md {margin-top: 0px;}

.importer-content1 {margin: 0px;}
.pourqout {margin: 10px 15px;}
.banner-bottom-copy{margin:0px;}

.username .user-input {width: 306px;}
.black-box {padding: 40px 0;}

}
/*inner page css end*/
@media screen and (max-width: 980px){
 .header .navbar-nav>li>a{padding: 0px 18px;}
.search-aside{margin-top:-80px;}
.heading-lg{font-size:24px;}
.heading-lg span{font-size:19px;}
.check-row label{font-size:11px;}
.range-row .theme-green .scale ins{font-size:9px;}
.round-middle label{font-size:12px;}
.round-right{padding:0 2px;}
.list-outer > div{flex: 50%;}
}
@media screen and (max-width: 860px){
  .footer-links li a{font-size:13px;}
  .banner-img{height:300px; width: auto;}
  
  }
@media screen and (max-width: 767px){
.navbar-toggle{display:block;}
.navbar-collapse.collapse{display:none!important;}
.navbar-collapse.collapse.in{display:block!important;}
.header .menu-section{position:static;}
.header .navbar-collapse{position:absolute; left:0px; top:41px; width:100%; background:rgba(0, 0, 0, 0.9);z-index: 10;}
.navbar-toggle .icon-bar{transform:rotate(-40deg); -moz-transform:rotate(-40deg); -webkit-transform:rotate(-40deg); -o-transform:rotate(-40deg); top: 4px; position:relative; transition:all 0.2s linear 0s;}
.navbar-toggle{padding: 5px 10px;height: 40px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.navbar-toggle .icon-bar+.icon-bar{display:none;}
.navbar-toggle .icon-bar+.icon-bar+.icon-bar{display:block;transform:rotate(40deg); -moz-transform:rotate(40deg); -webkit-transform:rotate(40deg); -o-transform:rotate(40deg);top: -4px;}
.navbar-toggle.collapsed .icon-bar+.icon-bar{display:block;}
.navbar-toggle.collapsed .icon-bar, .navbar-toggle.collapsed .icon-bar+.icon-bar+.icon-bar{transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);top: 0;}
.header .navbar-nav{margin:6px 0px; display:block; float:none; text-align:center;}
.header .navbar-nav>li{padding:5px; margin:0px; text-align:center; display:inline-block; vertical-align:top; float:none; width:100%;}
.header .navbar-nav>li>a{color:#ffffff;padding: 4px 18px;}
.header .navbar-nav>li a::after{display:none;}
.navbar-toggle .icon-bar{background: #033162;}
.navbar-toggle .icon-bar+.icon-bar{margin-top: 6px;}
.logo a img{max-width: 400px; width:90%; height:auto;}
.col-right{width:100%;}
.list-outer.list-col4 > div{flex: 50%;}
.banner-caps-title{font-size:18px;}
.testimonial-section .border-box{padding:15px 10px; border-left:transparent; border-right: transparent; border-top:1px solid #ccc; border-bottom:1px solid #ccc; margin:15px 0px; }
.testimonial-section .btn-outer{padding-top:0px;}
.col-left{width:70%; left:15%; position: relative; padding-bottom:20px;}
.social-links li{    padding: 0 5px;}

/*inner pages css start*/
.range-slide1 {width: 40%;}
.range-slide2 {width: 40%;}
.check-part .check-row {padding-left: 0px;padding-right: 0px;text-align: center;}
.inner-pages .heading-lg {font-size: 30px;margin: 0px;}
.range {float: none;width: 100%;}
.check-slide {float: none;width: 100%;margin-top: 20px;display: inline-block;}

/*logistique page css start*/
.questions-content1 {padding-left: 0px;}
.questions-content p {padding-right: 0px;border:none;}
.logistique-content {margin-bottom: 10px;}
.heading-md-copy {font-size: 34px;}
/*logistique page css end*/
.username .user-input {width: 280px;}
.contact-form h2 {font-size: 36px;margin: 20px 0;}
.contact-form-background img {height: 520px;}
.black-box h2 {font-size: 22px;}
.black-box-btn {font-size: 14px;}
/*inner pages css endt*/
}

@media screen and (max-width: 600px){
  .round-ibox{display: inline-block; vertical-align: top; width:100%; text-align: center; height:auto;border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;}
  .colm-left, .round-middle, .round-right{width:auto; height:auto;}
  .round-right img{display: inline-block;}
  .round-middle{padding:10px 2% 5px; border-color:transparent;}
  .list-outer > div{flex:50%;}
  .footer-logo, .social-links{float:none;}
  .copyright{padding:17px 0 0; display: block;}
  .header .social-links{display:none;}
}
@media screen and (max-width: 480px){
  .col-left{left:0; width:100%;}
  .list-outer > div{flex: 100%;}
  .full-bg-section{padding:20px 0;}
  .product-pagination li a{padding: 3px 13px;}
  .pagination{margin:12px 0 5px;}
  .product-detail-title{margin-top: 6px;}
  .product-amount{padding: 12px 0;}

/*inner pages css start*/
.range-slide1 {width: 88%;margin: auto;float: none;}
.range-slide2 {width: 88%;margin:30px auto;float: none;}
.check-part .check-row {padding: 8px 15px;width: 49%;}
.inner-pages .heading-lg {font-size: 26px;}
.range-slide1 {width: 98%;}
.range-slide2 {width: 98%;margin-top: 20px;}
.check-part .check-row{text-align:left;}
.inner-pages .heading-black {padding-bottom: 0px;}


/*logistique page css start*/
.les-head {margin-left: 0px;padding: 0px !important;}
.achat-sec1 .achat-head p {font-size: 15px;}
.heading-md-copy {font-size: 30px;}
/*logistique page css end*/
.achat-head p {font-size: 15px;}
.envoyer-btn {margin-top: 20px;}
.test-text .hr {margin: 20px auto;}
.black-box {width: 100%;}

  /*inner pages css end*/
}

.input-range__track{
  height: 6px !important;
}
.input-range__track--active{
  background: #18c0d6 !important;
}
.input-range__slider{
  margin-top: -10px !important;
  height: 15px !important;
  width: 15px !important;
  background: #18c0d6 !important;
  border: 1px solid #18c0d6 !important;
}